{% extends "base.html" %}

{% block content %}

<h1>Tickets</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>ID</th>  
            <th>Name</th>  
            <th>Phone Number</th>
            <th>Ticket Number</th>
            <th>Ticket Status</th>
            <th>Update Ticket</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td> 
            <td>{{ ticket.ticket.name }}</td> 
            <td>{{ ticket.ticket.phone_number }}</td>  
            <td>{{ ticket.ticket_number }}</td>
            <td>{{ ticket.expired }}</td>
            <td><a href="{% url 'edit_ticket_list' %}{{ ticket.id }}">Update Ticket</a></td>
            
        </tr>
        {% endfor %}
    </table>






    


{% endblock %}
